body{
  background-color: #7FFFD4;
}

h1{
  font-family: 'Staatliches', cursive;
  font-size: 48px;
}


h2{
  font-family: 'Ropa Sans', sans-serif;
}

#experience{
  background-color: white;
  color: black;
  margin: 50px;
  padding: 50px;
}
