body{
  background-color: #7FFFD4;
}

h1{
  font-family: 'Staatliches', cursive;
  font-size: 48px;
}


h2{
  font-family: 'Ropa Sans', sans-serif;
}

#header{
  background-color:white;
  color: black;
  margin:50px;
  padding: 20px;

}

#profile{
  background-color:white;
  color: black;
  margin:50px;
  padding: 20px;

}

#experience{
  background-color: white;
  color: black;
  margin: 50px;
  padding: 50px;
}

#education{
  background-color: white;
  color: black;
  margin: 50px;
  padding: 20px;
}

#skills{
  background-color: white;
  color: black;
  margin: 50px;
  padding: 20px;
}

#footer{
  background-color: white;
  color: black;
  margin: 50px;
  padding: 20px;
}
